<div class="adminPanelNavigation">
    <nav>
        <ul>
            <li>
                <a href="/admin/">All Products</a>
            </li>
            <li>
                <a href="/admin/createproduct">Create Product</a>
            </li>
            <li>
             <a href="/admin/orders">Orders</a>
            </li>
        </ul>
    </nav>
</div>