<div class="categoriesMenu">
                <h2 class="categoriesHeader">Categories</h2>
                        <ul>
                            <li>
                                <a href="/category/menclothing">Women Clothing</a>
                            </li>
                              <li>
                                <a href="/category/menclothing">Men Clothing</a>
                            </li>
                              <li>
                                <a href="/category/kidsclothing">Kids Clothing</a>
                            </li>
                              <li>
                                <a href="#">Men Clothing</a>
                            </li>
                              <li>
                                <a href="#">Hats</a>
                            </li>
                              <li>
                                <a href="#">Vintage</a>
                            </li>
                              <li>
                                <a href="#">Men Clothing</a>
                            </li>
                              <li>
                                <a href="#">Shoes</a>
                            </li>
                        </ul>
           </div>