 <div class="footer">
                        <div class="footerAboutUs">
                            <h3>ABOUT US</h3>
                            <h2>logo</h2>
                            <p>
                                The theme is the great choice to launched your e-commerce project. 
                                You can choose it not only for fashion business, it's also fitting 
                                for electronics, car, cosmetics, furniture and other e-stores. The 
                                main Zemez Template will be supporting and updating to all new technical 
                                requirements.
                            </p>
                        </div>
                        <div class="footerCategories">
                            <h3>CATEGORIES</h3>
                            <ul>
                                <li>
                                    <a href="#">Women Clothing</a>
                                </li>
                                <li>
                                    <a href="#">Men Clothing</a>
                                </li>
                                <li>
                                    <a href="#">Kids Clothing</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footerQuickLinks">
                            <h3>Links</h3>
                              <ul>
                                <li>
                                    <a href="#">Women Clothing</a>
                                </li>
                                <li>
                                    <a href="#">Men Clothing</a>
                                </li>
                                <li>
                                    <a href="#">Kids Clothing</a>
                                </li>
                            </ul>
                        </div>
                        <!--footer--->

                </div>
                <div class="copyright">
                    ©Vituvizuri created and designed by <a href="#">Chingliu</a>  
                </div>