<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karibu Vitu Vizuri</title>
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        {{>navigation}}
        <div class="content">
            <div class="banner">
                <div class="mainBanner">
                    <div>
                        <h2>NEW COLLECTION</h2>
                        <p>OF FASHION CLOTHES</p>
                        <a href="#">SHOP NOW</a>
                    </div>
                </div>
                <div class="asideBanner">
                    <div class="asideBannerTop">
                        <a href="#">
                            GET THE HOTTEST STYLES
                            <span>AT 70% OFF</span>
                        </a>
                    </div>
                    <div class="asideBannerBottom">
                        <a href="#">
                            <div>LAST CHANCE</div>
                            <div class="sixty">UP TO 60% OFF</div>
                        </a>
                    </div>
                </div>
            </div>
            <!--end of banner-->
            <div class="categories">
                <div class="categoriesLeft">
                    <div class="categoriesHeader">
                        <h2>Categories</h2>
                        <ul>
                            <li>
                                <a href="/category/menclothing">Women Clothing</a>
                            </li>
                              <li>
                                <a href="/category/menclothing">Men Clothing</a>
                            </li>
                              <li>
                                <a href="/category/kidsclothing">Kids Clothing</a>
                            </li>
                              <li>
                                <a href="#">Men Clothing</a>
                            </li>
                              <li>
                                <a href="#">Hats</a>
                            </li>
                              <li>
                                <a href="#">Vintage</a>
                            </li>
                              <li>
                                <a href="#">Men Clothing</a>
                            </li>
                              <li>
                                <a href="#">Shoes</a>
                            </li>
                        </ul>
                    </div>
                    <div class="categoriesFourList">
                        <a href="#" style="background-image: url('/images/pexels-spencer-selover-428338.jpg')">
                            <span>Title</span>
                        </a>
                        <a href="#" style="background-image: url('/images/pexels-spencer-selover-428338.jpg')">
                            <span>Title</span>
                        </a>
                        <a href="#" style="background-image: url('/images/pexels-spencer-selover-428338.jpg')">
                            <span>Title</span>
                        </a>
                        <a href="#" style="background-image: url('/images/pexels-spencer-selover-428338.jpg')">
                            <span>Title</span>
                        </a>
                    </div>
                </div>
                <div class="categoriesRight">
                        <a href="#" style="background-image: url('/images/pexels-spencer-selover-428338.jpg')">
                            <span>Title</span>
                        </a>
                        <a href="#" style="background-image: url('/images/pexels-spencer-selover-428338.jpg')">
                            <span>Title</span>
                        </a>
                </div>

                <!---end of categories-->
            </div>
            <div class="popularProducts">
                    <h2 style="text-align: center">Popular Products</h2>
                    <ul>
                        <li>Men</li>
                        <li>|</li>
                        <li>kids</li>
                        <li>|</li>
                        <li>shoes</li>
                        <li>|</li>
                        <li>clothes</li>
                    </ul>
                    <div class="products">
                        <div class="productCover">
                            <a href="#">
                                <img src="/images/pexels-spencer-selover-428338.jpg">
                            </a>
                            <div class="productInfo">
                                <a href="#" class="productName">Product Name</a>
                                <span class="productPrice">450000</span>
                                <div class="productButtons">
                                    <button>Add To Cart</button>
                                    <button>Buy</button>
                                </div>
                            </div>
                        </div>
                        <div class="productCover">
                            <a href="#">
                                <img src="/images/pexels-spencer-selover-428338.jpg">
                            </a>
                            <div class="productInfo">
                                <a href="#" class="productName">Product Name</a>
                                <span class="productPrice">450000</span>
                                <div class="productButtons">
                                    <button>Add To Cart</button>
                                    <button>Buy</button>
                                </div>
                            </div>
                        </div>
                          <div class="productCover">
                            <a href="#">
                                <img src="/images/pexels-spencer-selover-428338.jpg">
                            </a>
                            <div class="productInfo">
                                <a href="#" class="productName">Product Name</a>
                                <span class="productPrice">450000</span>
                                <div class="productButtons">
                                    <button>Add To Cart</button>
                                    <button>Buy</button>
                                </div>
                            </div>
                        </div>
                          <div class="productCover">
                            <a href="#">
                                <img src="/images/pexels-spencer-selover-428338.jpg">
                            </a>
                            <div class="productInfo">
                                <a href="#" class="productName">Product Name</a>
                                <span class="productPrice">450000</span>
                                <div class="productButtons">
                                    <button>Add To Cart</button>
                                    <button>Buy</button>
                                </div>
                            </div>
                        </div>
                          <div class="productCover">
                            <a href="#">
                                <img src="/images/pexels-spencer-selover-428338.jpg">
                            </a>
                            <div class="productInfo">
                                <a href="#" class="productName">Product Name</a>
                                <span class="productPrice">450000</span>
                                <div class="productButtons">
                                    <button>Add To Cart</button>
                                    <button>Buy</button>
                                </div>
                            </div>
                        </div>
                          <div class="productCover">
                            <a href="#">
                                <img src="/images/pexels-spencer-selover-428338.jpg">
                            </a>
                            <div class="productInfo">
                                <a href="#" class="productName">Product Name</a>
                                <span class="productPrice">450000</span>
                                <div class="productButtons">
                                    <button>Add To Cart</button>
                                    <button>Buy</button>
                                </div>
                            </div>
                        </div>
                          <div class="productCover">
                            <a href="#">
                                <img src="/images/pexels-spencer-selover-428338.jpg">
                            </a>
                            <div class="productInfo">
                                <a href="#" class="productName">Product Name</a>
                                <span class="productPrice">450000</span>
                                <div class="productButtons">
                                    <button>Add To Cart</button>
                                    <button>Buy</button>
                                </div>
                            </div>
                        </div>
                          <div class="productCover">
                            <a href="#">
                                <img src="/images/pexels-spencer-selover-428338.jpg">
                            </a>
                            <div class="productInfo">
                                <a href="#" class="productName">Product Name dhfjdhdhhshshs shdhsh shh shdhd shjh shsdssh shsd fjfjdj dnhh fhshe xdh shshfffffffffffffffffffff</a>
                                <span class="productPrice">450000</span>
                                <div class="productButtons">
                                    <button>Add To Cart</button>
                                    <button>Buy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---endof products-->
            </div>
            {{>footer}}
             <!---end of content-->
        </div>  
         <!---end of container-->
    </div>
</body>
</html>