<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karibu Vitu Vizuri</title>
    <link rel="stylesheet" href="/css/navigation.css">
</head>
<body>
    <div class="container">
        {{>navigation}}
        <div class="content">
            <div class="banner">
                <div class="mainBanner">

                </div>
                <div class="asidebanner">

                </div>
            </div>
             <!---end of content-->
        </div>  
         <!---end of container-->
    </div>
</body>
</html>